# Игнорируем сгенерированные файлы и директории
/target/
/.idea/
/.settings/
/.classpath
/.project
*.class
*.log
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/



# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test reports
test-output/
surefire-reports/
allure-results/
allure-report/

# System files
*.orig